<h1>Select your Tribes</h1>
  
<%=form_for @user, :url => user_tribe_path do |f|%>
<%=f.collection_check_boxes :tribe_ids, Tribe.all, :id, :name, {include_hidden: false }%><br/>

<br>
<%=f.submit "Select my Tribes"%>

<% end %>

