<h1 class="heading">All Tribes</h1>

<%@tribes.each do |tribe|%>
<p class="small-text-white"><%=tribe.name%> </p>
<hr>
<%end%>

<div id="my_centered_buttons">
<%=link_to "Home", user_path(@user), class:"btn"%>
</div>

