<h1 class= "heading">Edit Your Profile</h1>

<div class="small-text-white">
<%= form_for @user do |f| %>
<%= render 'form'%>
<%end%>
</div>

<hr>

<div id="my_centered_buttons">
<%=button_to 'Delete Profile', user_path(@user), method: :delete, class: "red-btn"%>
</div>