<h1 class= "heading">Edit Your Profile</h1>

<%if @user.errors.any?%>
  <div id= "error_explanation">
  <h2>There were some errors:</h2>
  <%@user.errors.full_messages.each do |message|%>
    <li><%=message%></li>
    <%end%>
    <%end%>
    </div>

<div class="small-text-white">
<%= form_for @user do |f| %>
<%= render 'form'%>
<%end%>
</div>

<hr>

<div id="my_centered_buttons">
<%=button_to 'Delete Profile', user_path(@user), method: :delete, class: "red-btn"%>
</div>