<h1><%="#{@ride.date.strftime("%A %d %B")} -  #{@ride.instructor} -  #{@ride.time.strftime("%I:%M %p")}  - #{@ride.format} -  #{@ride.duration} mins"%></h1>



<%=button_to "Back to #{@tribe.name}", tribe_path(@tribe), method: :get%>